<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Hospital São Sebastião">
    <meta name="author" content="Kheronn K. Machado">

    <title>Hospital São Sebastião -  Wenceslau Braz - Paraná</title>

  </head>

  <body>

    <!-- Navigation -->


    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="assets/images/licitacao.png" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>Processos Licitórios</h1>
          <p>Consulte nossas publicações, editais, avisos e anexos.</p>
          <a class="btn btn-primary btn-lg" href="#">mais detalhes...</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->




      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="assets/images/capa-construcao.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Construção do Centro Cirúrgico</a>
              </h4>
              <p class="card-text">Acompanhe a relização de um sonho da comunidade Brazense. A construção do Centro Cirúrgico do Hospita
                São Sebastião. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="assets/images/contas.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Prestação de Contas</a>
              </h4>
              <p class="card-text">Transparência é um dos objetivos que guaim o caminho do HSS. Consulte nossas publicações.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" style="width: 95%" src="assets/images/doacao.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Doações</a>
              </h4>
              <p class="card-text">
                  Apoie esta ideia, seja você também um colaborador de uma causa tão justa e importante para todos (mais...)</p>
            </div>
          </div>
        </div>

      </div>

      <!-- Content Row -->

      <!-- /.row -->

    </div>
    <!-- /.container -->
  </body>

</html>
